<%- include('partials/head') %> <%- include('partials/navbar') %>
<div class="container">
  <h1>Your random number is <%= rand %></h1>
  <form action="/random" method="get">
    <button type="submit" class="btn btn-primary">Primary</button>
  </form>
</div>
<%- include('partials/footer') %>
