<% layout('/layouts/boilerplate') %>

<h1>Campgrounds</h1>
<a href="/campgrounds/new">Add campground</a>
<ul>
  <% campgrounds.forEach(element => { %>
  <a href="/campgrounds/<%= element._id %>">
    <li><%= element.title %></li>
  </a>
  <% }) %>
</ul>
