<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>EJS MA BITE</title>
  </head>
  <body>
    <h1>Home Page <%=1+1%></h1>
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Culpa nobis
      aperiam dolor iure quos deserunt quis laudantium cumque optio? Accusamus
      accusantium recusandae consequuntur? Rerum, asperiores consequuntur. Ipsum
      nemo quisquam vero.
    </p>
  </body>
</html>
